{% extends 'page/layout.html.twig' %}

{% block title %}{{ 'career.title'|trans }}{{ 'title_ending'|trans }}{% endblock %}

{% block body_title %}{{ 'career.h1'|trans }}{% endblock %}

{% block body_content %}
    <section class="container mx-auto py-16">
        <div class="text-center mb-8">
            {% if sort == 'desc' %}
                <span class="pr-4 border-r-4 border-primary border-solid">Du plus récent au plus ancien</span><a href="{{ path('career', {sort: 'asc'}) }}" class="pl-4" data-turbolinks-scroll="false">Du plus ancien au plus récent</a>
            {% else %}
                <a href="{{ path('career', {sort: 'desc'}) }}" class="pr-4 border-r-4 border-primary border-solid" data-turbolinks-scroll="false">Du plus récent au plus ancien</a><span class="pl-4">Du plus ancien au plus récent</span>
            {% endif %}
        </div>
        <div class="timeline">
            <div class="timeline__wrapper">

                <div class="timeline__marker"></div>

                {% for key, item in items %}
                    <div class="timeline__item {{ key is odd ? 'timeline__item--right' : 'timeline__item--left' }}">
                        <div class="timeline__item-circle">
                            <div></div>
                        </div>
                        <div class="timeline__item-head">
                            <h2>{{ item.title }} {% if item.subtitle %}<span class="small">{{ item.subtitle }}</span>{% endif %}</h2>
                        </div>
                        <div class="timeline__item-body">
                            <div>{{ item.description|raw }}</div>
                            {% if item.image %}
                                <img src="{{ '/resize/sm' ~ vich_uploader_asset(item.image, 'file') }}" alt="{{ item.title }}" class="w-full mt-4">
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}
