{% extends 'base.html.twig' %}

{% block title %}{{ 'homepage.title'|trans }}{{ 'title_ending'|trans }}{% endblock %}

{% block body %}
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h1>{{ 'homepage.h1'|trans|raw }}</h1>
            <p>
                {{ 'homepage.h1_description'|trans }} <br/>
                {{ 'homepage.h1_description_2'|trans|raw }}
            </p>
        </div>
        <video autoplay loop muted playsinline src="{{ asset('build/images/banner02.mp4') }}"></video>
    </section>

    <!-- Highlights -->
    <section class="py-20">
        <div class="inner">
            <header class="text-center mb-12">
                <h2 class="font-gemunu text-4xl">{{ 'homepage.who_i_am.label'|trans }}</h2>
                <p class="w-full md:w-3/4 mx-auto">{{ 'homepage.who_i_am.short_description'|trans }}</p>
            </header>
            <div class="flex flex-wrap md:flex-no-wrap">
                <div class="w-full md:w-auto md:mr-6 text-center" style="min-width: 300px;">
                    <div class="homepage__photo-container">
                        <img class="homepage__photo" src="{{ asset('build/images/photo.jpg') }}" alt="{{ 'homepage.who_i_am.photo_alt'|trans }}">
                    </div>
                </div>
                <div class="w-full md:w-auto flex-grow text-justify">
                    <p>{{ 'homepage.who_i_am.paragraph_1'|trans|raw }}</p>
                    <p class="mt-6">{{ 'homepage.who_i_am.paragraph_2'|trans|raw }}</p>
                    <p class="mt-6">{{ 'homepage.who_i_am.question'|trans|raw }}</p>
                    <div class="mt-6 text-center">
                        <a href="#" class="btn">{{ 'homepage.who_i_am.button'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CTA -->
    <section id="cta" class="wrapper homepage__cta">
        <div class="inner">
            <h2 class="font-gemunu text-4xl text-white">{{ 'homepage.technologies_skills.label'|trans }}</h2>
            <p class="homepage__cta-short-description mt-6 text-white">{{ 'homepage.technologies_skills.short_description'|trans|raw }}</p>
            <div class="flex flex-wrap justify-around text-left">
                <div class="w-full sm:w-3/4 md:w-1/2 lg:w-1/3 px-4 mb-6">
                    <div class="card card-transparent">
                        <div>
                            <img src="{{ asset('build/images/symfony-logo.png') }}" alt="{{ 'homepage.technologies_skills.card_1.logo_alt'|trans }}" class="mx-auto" style="max-width: 150px;">
                        </div>
                        <h3 class="text-center text-text-color font-bold font-roboto mt-6">
                            {{ 'homepage.technologies_skills.card_1.title'|trans }}
                        </h3>
                        <div class="flex justify-center">
                            <ul>
                                <li>
                                    <i class="fas fa-check mr-2"></i> {{ 'homepage.technologies_skills.card_1.pros.1'|trans }}
                                </li>
                                <li>
                                    <i class="fas fa-check mr-2"></i> {{ 'homepage.technologies_skills.card_1.pros.2'|trans }}
                                </li>
                                <li>
                                    <i class="fas fa-check mr-2"></i> {{ 'homepage.technologies_skills.card_1.pros.3'|trans }}
                                </li>
                                <li>
                                    <i class="fas fa-check mr-2"></i> {{ 'homepage.technologies_skills.card_1.pros.4'|trans }}
                                </li>
                                <li>
                                    <i class="fas fa-check mr-2"></i> {{ 'homepage.technologies_skills.card_1.pros.5'|trans }}
                                </li>
                            </ul>
                        </div>
                        <div class="text-center mt-6">
                            <a class="btn" href="https://symfony.com/" target="_blank">{{ 'homepage.technologies_skills.card_1.button'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="w-full sm:w-3/4 md:w-1/2 lg:w-1/3 px-4 mb-6">
                    <div class="card card-transparent">
                        <div>
                            <img src="{{ asset('build/images/vue.js-logo.png') }}" alt="{{ 'homepage.technologies_skills.card_2.logo_alt'|trans }}" class="mx-auto" style="max-width: 150px;">
                        </div>
                        <h3 class="text-center text-text-color font-bold font-roboto mt-6">
                            {{ 'homepage.technologies_skills.card_2.title'|trans }}
                        </h3>
                        <div class="flex justify-center">
                            <ul>
                                <li>
                                    <i class="fas fa-check mr-2"></i> {{ 'homepage.technologies_skills.card_2.pros.1'|trans }}
                                </li>
                                <li>
                                    <i class="fas fa-check mr-2"></i> {{ 'homepage.technologies_skills.card_2.pros.2'|trans }}
                                </li>
                                <li>
                                    <i class="fas fa-check mr-2"></i> {{ 'homepage.technologies_skills.card_2.pros.3'|trans }}
                                </li>
                                <li>
                                    <i class="fas fa-check mr-2"></i> {{ 'homepage.technologies_skills.card_2.pros.4'|trans }}
                                </li>
                                <li>
                                    <i class="fas fa-check mr-2"></i> {{ 'homepage.technologies_skills.card_2.pros.5'|trans }}
                                </li>
                            </ul>
                        </div>
                        <div class="text-center mt-6">
                            <a class="btn" href="https://vuejs.org/" target="_blank">{{ 'homepage.technologies_skills.card_2.button'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
