{% extends 'base.html.twig' %}

{% block title %}{{ 'homepage.title'|trans }}{{ 'title_ending'|trans }}{% endblock %}

{% block body %}
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h1>{{ 'homepage.h1'|trans|raw }}</h1>
            <p>
                {{ 'homepage.h1_description'|trans }} <br/>
                {{ 'homepage.h1_description_2'|trans|raw }}
            </p>
        </div>
        <video autoplay loop muted playsinline src="{{ asset('build/images/banner02.mp4') }}"></video>
    </section>

    <!-- Highlights -->
    <section class="wrapper">
        <div class="inner">
            <header class="special">
                <h2>{{ 'homepage.who_i_am'|trans }}</h2>
                <p>{{ 'homepage.short_description'|trans }}</p>
            </header>
            <div class="flex flex-wrap md:flex-no-wrap">
                <div class="w-full md:w-auto md:mr-6 text-center">
                    <div class="homepage__photo-container">
                        <img class="homepage__photo" src="{{ asset('build/images/photo.jpg') }}" alt="{{ 'homepage.photo_alt'|trans }}">
                    </div>
                </div>
                <div class="w-full md:w-auto flex-grow">
                    <p>{{ 'homepage.short_description_2'|trans }}</p>
                </div>
            </div>
        </div>
    </section>

    <!-- CTA -->
    <section id="cta" class="wrapper">
        <div class="inner">
            <h2>Curabitur ullamcorper ultricies</h2>
            <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
        </div>
    </section>
{% endblock %}
