{% block easyadmin_rest %}
    {{- form_rest(form) -}}
{% endblock easyadmin_rest %}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <span class="{% if form is not rootform %}invalid-feedback{% else %}alert alert-danger{% endif %} d-block">
            {%- for error in errors -%}
                <span class="d-flex align-items-center">
                    <span class="form-error-icon badge badge-danger text-uppercase mr-2">{{ 'Error'|trans({}, 'validators') }}</span> <span class="form-error-message">{{ error.message }}</span>
                </span>
            {%- endfor -%}
        </span>
    {%- endif %}
{%- endblock form_errors %}

{% block image_row %}
    <div class="form-group ">
        {{ form_label(form) }}
        <div class="form-widget">
            {{ form_widget(form )}}
            {{- form_errors(form) -}}
        </div>
    </div>
{% endblock %}

{% block image_widget %}
    <input-image-manager
            data-name="{{ full_name }}"
            {% if value is not empty %}:data-value="{{ value }}" {% endif %}
            {% if url is defined %}data-url="{{ url }}"{% endif %}
    />
{% endblock %}
