{% trans_default_domain 'admin' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('en') }}" dir="{{ easyadmin_config('design.rtl') ? 'rtl' : 'ltr' }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Asap+Condensed:500">

    <title>{% block page_title %}{{ block('content_title')|striptags|raw }}{% endblock %}{{ 'title_ending'|trans(domain = 'messages') }}</title>

    {% block head_stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}

    {% block head_custom_stylesheets %}
        {% for css_asset in easyadmin_config('design.assets.css') %}
            <link rel="stylesheet" href="{{ asset(css_asset) }}">
        {% endfor %}
    {% endblock head_custom_stylesheets %}

    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">

    {% block head_javascript %}
    {% endblock head_javascript %}
</head>

{% block body %}
    <body id="{% block body_id %}{% endblock %}" class="kt-page-content-white kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading {% block body_class %}{% endblock %}">

    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a href="{{ path('easyadmin') }}">
                <img alt="Logo" src="{{ asset('build/images/logo.png') }}" />
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more-1"></i></button>
        </div>
    </div>
    <!-- end:: Header Mobile -->

    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            {% block wrapper_wrapper %}
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                    {% block wrapper %}
                        <!-- begin:: Header -->
                        <header id="kt_header" class="kt-header kt-grid__item  kt-header--fixed " data-ktheader-minimize="on">
                            {% block header %}
                                {% set _user_name = easyadmin_read_property(app.user, easyadmin_config('user.name_property_path'))|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) %}
                                {% set _logout_path = easyadmin_logout_path() %}
                                {% set _user_has_logout = _logout_path is not empty %}
                                {% set _user_is_impersonated = is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <div class="kt-container  kt-container--fluid ">

                                    <!-- begin:: Brand -->
                                    <div class="kt-header__brand " id="kt_header_brand">
                                        <div class="kt-header__brand-logo">
                                            <a href="{{ path('easyadmin') }}">
                                                <img alt="Logo" src="{{ asset('build/images/logo.png') }}" />
                                            </a>
                                        </div>
                                    </div>
                                    <!-- end:: Brand -->

                                    <!-- begin:: Header Topbar -->
                                    <div class="kt-header__topbar">
                                        <!--begin: User bar -->
                                        <div class="kt-header__topbar-item kt-header__topbar-item--user">
                                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                                                <span class="kt-header__topbar-username kt-visible-desktop">{{ _user_name }}</span>
                                                <i class="flaticon2-user"></i>
                                                <span class="kt-header__topbar-icon kt-bg-brand kt-hidden"><b>S</b></span>
                                            </div>
                                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

                                                <!--begin: Head -->
                                                <div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
                                                    <div class="kt-user-card__name">
                                                        {{ _user_name }}
                                                    </div>
                                                </div>
                                                <!--end: Head -->

                                                <!--begin: Navigation -->
                                                <div class="kt-notification">
                                                    <div class="kt-notification__custom kt-space-between">
                                                        <a href="{{ _logout_path }}" class="btn btn-label btn-label-brand btn-sm btn-bold">{{ 'user.sign_out'|trans }}</a>
                                                    </div>
                                                </div>
                                                <!--end: Navigation -->
                                            </div>
                                        </div>

                                        <!--end: User bar -->
                                    </div>
                                    <!-- end:: Header Topbar -->
                                </div>
                            {% endblock header %}
                        </header>
                        <!-- end:: Header -->

                        <!-- begin:: Body -->
                        <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
                            <div class="kt-container  kt-container--fluid  kt-grid kt-grid--ver">

                                <!-- begin:: Aside -->
                                <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
                                <aside class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
                                    {% block sidebar %}
                                        <!-- begin:: Aside Menu -->
                                        <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                                            <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1">
                                                {% block main_menu_wrapper %}
                                                    {{ include([
                                                        _entity_config is defined ? _entity_config.templates.menu,
                                                        easyadmin_config('design.templates.menu'),
                                                        '@EasyAdmin/default/menu.html.twig'
                                                    ]) }}
                                                {% endblock main_menu_wrapper %}
                                            </div>
                                        </div>
                                        <!-- end:: Aside Menu -->
                                    {% endblock sidebar %}
                                </aside>
                                <!-- end:: Aside -->

                                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                                    {% block content %}
                                        <!-- begin:: Subheader -->
                                        {% block content_header_wrapper %}
                                            {% set _has_content_help = _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
                                            <!-- begin:: Content Head -->
                                            <section class="kt-subheader kt-grid__item" id="kt_subheader">
                                                <div class="kt-container kt-container--fluid ">
                                                    {% block content_header %}
                                                        <div class="kt-subheader__main">
                                                            <h3 class="kt-subheader__title">
                                                                {% block content_title %}{% endblock %}
                                                            </h3>
                                                            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                                                            <div class="kt-subheader__group" id="kt_subheader_search">
                                                                {% block global_actions_wrapper %}
                                                                    {% block global_actions %}{% endblock %}
                                                                {% endblock %}
                                                            </div>
                                                        </div>
                                                        <div class="kt-subheader__toolbar">
                                                            {% block toolbar_actions %}{% endblock %}
                                                        </div>
                                                    {% endblock content_header %}
                                                </div>
                                            </section>
                                            <!-- end:: Content Head -->
                                        {% endblock content_header_wrapper %}
                                        <!-- end:: Subheader -->

                                        <!-- begin:: Content -->
                                        <section id="main" class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
                                            {% block flash_messages %}
                                                {{ include(_entity_config is defined ? _entity_config.templates.flash_messages : '@EasyAdmin/default/flash_messages.html.twig') }}
                                            {% endblock flash_messages %}
                                            <!--begin::Portlet-->
                                            <div class="kt-portlet kt-portlet--mobile">
                                                <div class="kt-portlet__body">
                                                    {% block main %}{% endblock %}

                                                    {% block content_footer_wrapper %}
                                                        <section class="content-footer">
                                                            {% block content_footer %}{% endblock %}
                                                        </section>
                                                    {% endblock %}
                                                </div>
                                            </div>
                                        </section>
                                        <!-- end:: Content -->
                                    {% endblock content %}
                                </div>
                            </div>
                        </div>
                        <!-- end:: Body -->

                        <!-- begin:: Footer -->
                        <div class="kt-footer kt-grid__item" id="kt_footer">
                            <div class="kt-container  kt-container--fluid ">
                                <div class="kt-footer__wrapper">
                                    <div class="kt-footer__copyright">
                                        2020&nbsp;&copy;&nbsp;<a href="http://keenthemes.com/metronic" target="_blank" class="kt-link">Dylan Alizon</a>
                                    </div>
                                    <div class="kt-footer__menu">
                                        <a href="{{ path('home') }}" target="_blank" class="kt-link">{{ 'menu.back_to_site'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Footer -->
                    {% endblock wrapper %}
                </div>
            {% endblock wrapper_wrapper %}
        </div>
    </div>

    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>

    <!-- end::Scrolltop -->

    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
      var KTAppOptions = {
        "colors": {
          "state": {
            "brand": "#b03f3f",
            "light": "#ffffff",
            "dark": "#282a3c",
            "primary": "#5867dd",
            "success": "#34bfa3",
            "info": "#36a3f7",
            "warning": "#ffb822",
            "danger": "#fd3995"
          },
          "base": {
            "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
            "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
          }
        }
      };
    </script>
    {% block body_javascript %}
        {{ encore_entry_script_tags('admin') }}

        <script>
          window.jQuery = $;
        </script>
    {% endblock body_javascript %}

    </body>
{% endblock body %}
</html>
