<footer id="footer">
    <div class="inner">
        <div class="content">
            <section>
                <h3>{{ 'footer.by_the_way.title'|trans }}</h3>
                <p class="text-justify mb-10">{{ 'footer.by_the_way.paragraph'|trans }}</p>
            </section>
            <section class="flex items-center">
                <ul class="alt w-full">
                    <li><a href="{{ path('home') }}">{{ 'navigation.home'|trans }}</a></li>
                    <li><a href="#">{{ 'navigation.skills_technologies'|trans }}</a></li>
                    <li><a href="{{ path('career') }}">{{ 'navigation.career'|trans }}</a></li>
                    <li><a href="#">{{ 'navigation.contact'|trans }}</a></li>
                </ul>
            </section>
            <section class="footer__contact-details">
                <ul class="plain">
                    <li class="text-center md:text-left"><a href="https://www.instagram.com/dylanalizon/" target="_blank"><div class="icon-container"><i class="icon fab fa-instagram"></i></div>Instagram</a></li>
                    <li class="text-center md:text-left"><a href="https://github.com/dylanalizon" target="_blank"><div class="icon-container"><i class="icon fab fa-github"></i></div>Github</a></li>
                    <li class="text-center md:text-left"><a href="mailto:dylan.alizon@gmail.com" target="_blank"><div class="icon-container"><i class="icon fas fa-envelope"></i></div>Email</a></li>
                    <li class="text-center md:text-left"><div class="icon-container"><i class="icon fas fa-mobile-alt"></i></div>06 72 47 22 30</li>
                </ul>
            </section>
        </div>
        <div class="copyright">
            {{ 'footer.bottom_line'|trans }}
        </div>
    </div>
</footer>
