{% set routeName = app.request.get('_route') %}

<header class="header{{ enableDarkHeader is defined ? ' header__dark' : ''}}">
    <nav class="header__nav">
        <div class="header__logo">
            <a href="{{ path('home') }}">
                <img src="{{ asset('build/images/logo.png') }}" alt="{{ 'logo_alt'|trans }}">
            </a>
        </div>
        <div id="header__mainListDiv" class="header__main_list">
            <ul class="header__navlinks">
                <li><a href="{{ path('home') }}" {% if routeName == 'home' %}class="active"{% endif %}>{{ 'navigation.home'|trans }}</a></li>
                <li><a href="#">{{ 'navigation.skills_technologies'|trans }}</a></li>
                <li><a href="{{ path('career') }}" {% if routeName == 'career' %}class="active"{% endif %}>{{ 'navigation.career'|trans }}</a></li>
                <li><a href="#">{{ 'navigation.contact'|trans }}</a></li>
            </ul>
        </div>
        <span class="header__navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
    </nav>
</header>
